<div class="wrapper flex">
  <div class="home-outer">
    <div class="user-data">
      <h1><%= @user.name %>のページ</h1>
      <ul>
        <li><%= link_to "アカウント変更", edit_user_registration_path, class: "button-border" %></li>
      </ul>
    </div>

    <h2>最近の投稿</h2>
    <%= will_paginate @posts, previous_label: '<', next_label: '>', inner_window: 1 %>
    <% @posts.each do |post| %>
    <div class="post">
      <div class="post_info">
        <%= link_to image_tag("icon.png", alt: "user icon", class: "user-icon"), "" %>
        <div class="post_info_item">
            <h2 class="post_title"><%= link_to post.title, post_path(post) %></h2>
          <div class="post_info_nav">
            <p class="user_name"><%= link_to post.user.name, user_path(post.user) %></p>
            <p><%= post.updated_at.to_s(:datetime_jp) %>更新</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= will_paginate @posts, previous_label: '<', next_label: '>', inner_window: 1 %>
  </div>
  <div class="sidemenu">
    <ul>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
    </ul>
  </div>
</div>
