<div class="wrapper flex top">
  <div class="container_top">
    <div class="post land">
      <%= render('shared/post_info', post: @post) %>
      <div class="post_contents">
        <p><%= @post.content %></p>
        <%= image_tag(@post.image.url, alt: 'image', class: 'posts_image') if @post.image.present? %>
      </div>
      <%= render('shared/post_menu', post: @post) %>
    </div>

    <div class="comments land">
      <% @comments.each do |comment| %>
        <% if comment == @comment %>
          <%= render('comment_edit_form', comment: @comment) %>
        <% else %>
          <%= render 'shared/comment_show', comment: comment %>
        <% end %>
      <% end %>
      <%= will_paginate @comments, previous_label: '<', next_label: '>', inner_window: 1 %>
    </div>
  </div>
</div>
