<div class="user_side">
  <div class="users_home land">
    <h2>マイページ</h2>
    <%= render('shared/user_icon', user: @user) %>
    <h1><%= @user.name %></h1>

    <ul>
      <li><%= link_to("フォロワー: #{@user.followers.count}", followers_user_path(@user)) %></li>
      <li><%= link_to("フォロー: #{@user.following.count}", following_user_path(@user)) %></li>
    </ul>

    <%= render('users/follow_button', user: @user) %>
    <%= link_to("アカウント変更", edit_user_registration_path, class: "button_border") if correct_user?(@user) %>
  </div>
</div>
