<div class="wrapper top">
  <div class="devise-form-outer land">
    <%= form_with(url: user_password_path,  html: { method: :post}, local: true, class: 'basic_form') do |f| %>
      <h2>パスワード再設定</h2>
      <%= render("shared/error_messages", resource: resource) %>

      <%= f.label(:email, "メールアドレス") %>
      <%= f.email_field(:email, autofocus: true, autocomplete: "email") %>

      <%= f.submit("パスワード再設定メールを送信", class: "button") %>
    <% end %>

    <div class="devise-form-menu">
      <%= render("devise/shared/links") %>
    </div>
  </div>
</div>
