<div class="comment-form-outer">
  <div class="post_form_inner">
    <%= form_with(model: comment, class: "basic_form") do |f| %>
      <%= f.hidden_field :post_id %>
      <%= render('shared/error_messages', resource: comment) %>

      <%= f.label(:content, "コメント") %>
      <%= f.text_area(:content, class: "comment_textarea") %>

      <%= f.submit("投稿", class: "button") %>
    <% end %>
  </div>
</div>
