<div class="wrapper top">
  <div class="home-outer land">
    <div class="form-outer">
      <%= form_with(model: @post, class: "basic_form") do |f| %>
        <h2>投稿編集</h2>
        <%= render('shared/error_messages', resource: @post) %>

        <%= f.label(:title, "タイトル") %>
        <%= f.text_field :title %>

        <%= f.label(:content, "内容") %>
        <%= f.text_area(:content, class: "post_textarea") %>

        <label><%= f.check_box(:remove_image) %>画像を削除</label>
        <%= f.file_field(:image) %>

        <%= f.submit("投稿", class: "button") %>
      <% end %>
    </div>
  </div>
</div>
