<div class="form-outer wrapper top">
  <div class="post_form_inner">
    <%= form_with model: @post, class: "basic_form" do |f| %>
      <h2>投稿編集</h2>

        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>

        <%= f.label :content, "内容" %>
        <%= f.text_area :content %>

        <%= f.file_field :image%>

      <%= f.submit "投稿", class: "button" %>
    <% end %>
  </div>
</div>
