<div class="wrapper flex top">
  <div class="home-outer">
    <div class="post land">
      <%= render('shared/post_info', post: @post) %>

      <div class="post_contents">
        <p><%= @post.content %></p>
        <%= image_tag(@post.image.url, alt: 'image', class: 'posts_image') if @post.image.present? %>
      </div>
      
      <%= render('shared/post_menu', post: @post) %>
    </div>

    <div class="comments land">
      <%= render(partial: 'shared/comment_show', collection: @comments, as: :comment) %>
      <%= will_paginate(@comments, previous_label: '<', next_label: '>', inner_window: 1) %>

      <% if user_signed_in? %>
        <%= render('shared/comment_form', comment: @comment) %>
      <% else %>
        <div class="not_loged_in_comment">
          <%= link_to('ログインしてコメントを投稿する', new_user_session_path, class: 'button-border') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
